/** 6. Menu
*******************************************************************/

.m-menu-button {
    position: fixed;
    right: 6rem;
    top: 6rem;
    z-index: 60;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-menu-button:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.m-menu-button .burger .line {
    height: 0.1rem !important;
    width: 2.6rem;
    display: block;
    margin-bottom: 0.7rem;
    background: #fff;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.m-menu-button:hover .burger .line {
    background: #e3af00;
}

.m-menu-button .burger .line:last-child {
    margin-bottom: 0rem;
}

.m-menu {
    position: fixed;
    right: 0;
    width: 24%;
    z-index: 10;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #181818;
}

.mobile .m-menu {
    width: 76%;
}

.m-menu .m-menu-inner {
    position: relative;

    width: 80%;
    height: 80%;
    left: 20%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.m-menu .head {
    overflow: hidden;
}

.m-menu .m-menu-inner .main-items {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-menu .m-menu-inner .main-items>li {
    margin: 1.1rem 0;
    padding: 0;
    overflow: hidden;
}

.mobile .m-menu .m-menu-inner .main-items>li {
    margin: 1.6rem 0;
}

.m-menu .m-menu-inner .main-items>li:first-child {
    margin-top: 0;
}

.m-menu .m-menu-inner .main-items>li:last-child {
    margin-bottom: 1.3rem;
}

.m-menu .m-menu-inner .main-items>li p {
    display: inline-block;
    letter-spacing: 0;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.m-menu .m-menu-inner .main-items>li span {
    display: inline-block;
    color: #7c7c7c;
    font-size: 2.1rem;
    border-radius: 100%;
    padding-right: 2.6rem;
    height: 4.8rem;
    position: relative;
    text-align: center;
    line-height: 5rem;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.m-menu .m-menu-inner .main-items>li a.is-active span,
.m-menu .m-menu-inner .main-items>li a:hover span {
    color: #fff;
}

.m-menu .m-menu-inner .main-items>li a.is-active span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    z-index: -2;
    top: 0;
}

.m-menu .m-menu-inner .main-items>li a {
    display: block;
    color: #fff;
}

.m-menu .m-menu-inner .main-items li:hover p,
.m-menu .m-menu-inner .main-items a.is-active p {
    color: #fdc60c;
}

.m-menu .m-menu-inner .social-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-menu .m-menu-inner .social-items>* {
    margin-right: 0;
    margin-bottom: 0;
}

.m-menu .m-menu-inner .social-items .item {
    overflow: visible;
}

.m-menu .m-menu-inner .social-items a {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.m-menu .m-menu-inner .social-items a span {
    color: #fff;
    transition: color 0.3s ease;
}

.m-menu .m-menu-inner .social-items a:hover {
    background: #fdc60c;
    border-color: #fdc60c;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(253, 198, 12, 0.2);
}

.m-menu .m-menu-inner .social-items a:hover span {
    color: #000;
}

.menu-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: -100;
    background: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** 7. Ultility
*****************************************************************/

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.color-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-linetrough {
    text-decoration: line-through;
}

.text-highlight {
    background: rgba(0, 0, 0, 0.25);
    padding: 0 0.6rem;
}

.flex-break {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 0;
    margin: 0 !important;
}

/** Margin **/

.m-b-0 {
    margin-bottom: 0rem !important;
}

.m-b-0-5 {
    margin-bottom: 0.5rem !important;
}

.m-b-1 {
    margin-bottom: 1rem !important;
}

.m-b-1-5 {
    margin-bottom: 1.5rem !important;
}

.m-b-2 {
    margin-bottom: 2rem !important;
}

.m-b-2-5 {
    margin-bottom: 2.5rem !important;
}

.m-b-3 {
    margin-bottom: 3rem !important;
}

.m-b-4 {
    margin-bottom: 4rem !important;
}

.m-b-5 {
    margin-bottom: 5rem !important;
}

.m-b-6 {
    margin-bottom: 6rem !important;
}

.m-b-7 {
    margin-bottom: 7rem !important;
}

.m-b-8 {
    margin-bottom: 8rem !important;
}

.m-b-9 {
    margin-bottom: 9rem !important;
}

.m-b-10 {
    margin-bottom: 10rem !important;
}

.m-t-0 {
    margin-top: 0rem !important;
}

.m-t-0-5 {
    margin-top: 0.5rem !important;
}

.m-t-1 {
    margin-top: 1rem !important;
}

.m-t-1-5 {
    margin-top: 1.5rem !important;
}

.m-t-2 {
    margin-top: 2rem !important;
}

.m-t-2-5 {
    margin-top: 2.5rem !important;
}

.m-t-3 {
    margin-top: 3rem !important;
}

.m-t-4 {
    margin-top: 4rem !important;
}

.m-t-5 {
    margin-top: 5rem !important;
}

.m-t-6 {
    margin-top: 6rem !important;
}

.m-t-7 {
    margin-top: 7rem !important;
}

.m-t-8 {
    margin-top: 8rem !important;
}

.m-t-9 {
    margin-top: 9rem !important;
}

.m-t-10 {
    margin-top: 10rem !important;
}

.m-r-0 {
    margin-right: 0rem !important;
}

.m-r-0-5 {
    margin-right: 0.5rem !important;
}

.m-r-1 {
    margin-right: 1rem !important;
}

.m-r-1-5 {
    margin-right: 1.5rem !important;
}

.m-r-2 {
    margin-right: 2rem !important;
}

.m-r-2-5 {
    margin-right: 2.5rem !important;
}

.m-r-3 {
    margin-right: 3rem !important;
}

.m-r-4 {
    margin-right: 4rem !important;
}

.m-r-5 {
    margin-right: 5rem !important;
}

.m-r-6 {
    margin-right: 6rem !important;
}

.m-r-7 {
    margin-right: 7rem !important;
}

.m-r-8 {
    margin-right: 8rem !important;
}

.m-r-9 {
    margin-right: 9rem !important;
}

.m-r-10 {
    margin-right: 10rem !important;
}

.m-l-0 {
    margin-left: 0rem !important;
}

.m-l-0-5 {
    margin-left: 0.5rem !important;
}

.m-l-1 {
    margin-left: 1rem !important;
}

.m-l-1-5 {
    margin-left: 1.5rem !important;
}

.m-l-2 {
    margin-left: 2rem !important;
}

.m-l-2-5 {
    margin-left: 2.5rem !important;
}

.m-l-3 {
    margin-left: 3rem !important;
}

.m-l-4 {
    margin-left: 4rem !important;
}

.m-l-5 {
    margin-left: 5rem !important;
}

.m-l-6 {
    margin-left: 6rem !important;
}

.m-l-7 {
    margin-left: 7rem !important;
}

.m-l-8 {
    margin-left: 8rem !important;
}

.m-l-9 {
    margin-left: 9rem !important;
}

.m-l-10 {
    margin-left: 10rem !important;
}

/** 8. Skeleton Components
*****************************************************************/

#main {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

.right-content {
    position: fixed;
    width: 100%;
    overflow: auto;
    height: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.right-content::-webkit-scrollbar {
    display: none;
}

.right-content .inner-content {
    position: relative;
    width: 50%;
    left: 50%;
}

_:-ms-fullscreen,
:root .right-content .inner-content {
    position: fixed;
}

.left-content {
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    -webkit-perspective: 38rem;
    perspective: 38rem;
}

.left-content .inner-content {
    position: relative;
    width: 26vw;
    height: 32vw;
    -webkit-transform: rotateY(5deg);
    transform: rotateY(5deg);
}

.left-content .inner-content .picture-box {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
}

.left-content .inner-content .picture {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0px;
}

.left-content .inner-content canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1px;
    z-index: 3;

    left: 0;
}

.left-content .inner-content .frame {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    border: 1px solid #fff;
}

.left-content .inner-content .frame.frame-1 {
    opacity: 0.25;
    -webkit-transform: translate(-2rem, 2rem);
    -ms-transform: translate(-2rem, 2rem);
    transform: translate(-2rem, 2rem);
}

.left-content .inner-content .frame.frame-2 {
    opacity: 0.15;
    -webkit-transform: translate(-4rem, 4rem);
    -ms-transform: translate(-4rem, 4rem);
    transform: translate(-4rem, 4rem);
}

.left-content .inner-content .frame.frame-3 {
    opacity: 0.05;
    -webkit-transform: translate(-6rem, 6rem);
    -ms-transform: translate(-6rem, 6rem);
    transform: translate(-6rem, 6rem);
}

.left-content .inner-content .name {
    position: absolute;
    left: 4rem;
    bottom: 3rem;
    z-index: 10;
}

.left-content .inner-content .name p {
    letter-spacing: 0.02em;
    font-weight: 300;
}

.left-content .inner-content .name .seperator-line {
    margin-top: 0.6rem;
}

.section-container {
    max-width: 70rem;
}

.section-container .section {
    position: relative;
    width: 100%;
}

.section-container .section.height-100 {
    min-height: 100vh;
}

.section-container .section.y-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

_:-ms-fullscreen,
:root .section-container .section.y-center .container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section-container .section .container {
    display: block;
    width: 100%;
}

/* Mobile Mode */

.mobile .left-content {
    width: 100%;
}

.mobile .left-content .inner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.mobile .left-content .inner-content .frame {
    display: none !important;
}

.mobile .right-content .inner-content {
    padding-top: 100vh;
    position: relative;
    width: 80%;
    left: 10%;
}

.mobile .left-content .inner-content:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    z-index: -15;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
}

.mobile .left-content .inner-content .name {
    left: 50%;
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.mobile .left-content .inner-content .name p {
    font-size: 4rem;
}

.mobile .left-content .inner-content .picture-box {
    opacity: 0.7;
}

.mobile .section-container {
    max-width: 60rem;
    margin: 0 auto;
}