.options-panel {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;

    z-index: -10000;
    width: 100%;
    height: 100%;
}

.options-panel .close-button {
    cursor: pointer;
    position: absolute;
    left: 6rem;
    top: 6rem;

    z-index: 11111;
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.7;
}

.options-panel .close-button:after {
    content: '';
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10rem;
    border-radius: 100%;
    z-index: -2;
    height: 10rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.options-panel .panel {
    position: absolute;
    max-width: 61.8%;
    top: 0;
    right: 0;
    opacity: 0;
    overflow: auto;
    height: 100%;
    padding: 12rem 16rem;
    z-index: 10;
    background: #272727;
}

.options-panel .panel-overlay {
    position: absolute;
    background: #212121;
    opacity: 0.96;
    width: 100%;
    height: 100%;
    left: 0;
    cursor: pointer;
    top: 0;
    z-index: 5;
}

.options-panel .headline p {
    color: #fff;
    display: inline-block;
}

.options-panel .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1rem;
}

.options-panel .options .option {
    cursor: pointer;
}

.options-panel .options .color {
    border-radius: 100%;
    height: 5rem;
    overflow: hidden;
    position: relative;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 5rem;
}

.options-panel .options .color.active {
    border-color: #fff;
}

.options-panel .options .color .bg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 3.2rem;
    border-radius: 100%;
    height: 3.2rem;
}

.options-panel .button {
    border: 1px solid rgba(255, 255, 255, 0);
    height: 5rem;
    border-radius: 10rem;
    line-height: 5rem;
    padding: 0 2.6rem;
}

.options-panel .button.active {
    border-color: #fff;
    height: 5rem;
    border-radius: 10rem;
    line-height: 5rem;
    padding: 0 2.6rem;
}

.options-panel .button p {
    color: #fff;
    line-height: inherit;
}

/* Lightbox */

.goverlay {
    background: rgba(22, 22, 22, 0.9) !important;
}

.glightbox-container {
    z-index: 500 !important;
}

.glightbox-container .gslide-title {
    font-size: 3.2rem !important;
    font-weight: 300 !important;
    letter-spacing: 0em !important;
    line-height: 1.25em !important;
    margin-bottom: 2.2rem !important;
}

.glightbox-container .gslide-desc {
    color: #fff !important;
    font-size: 1.8rem !important;
    line-height: 1.8em !important;
    letter-spacing: -0.01em !important;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
    margin-top: 13rem;
    padding-bottom: 13rem;
}

.glightbox-container .gdesc-inner {
    padding: 0 !important;
    max-width: 76rem;
    padding: 0 4rem !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

_:-ms-fullscreen,
:root .glightbox-container .gdesc-inner .gslide-desc {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 820px) {
    .glightbox-container .gslide-desc {
        margin-top: 6rem;
        padding-bottom: 14rem;
    }

    .gslide.show-desc .gslide-description {
        overflow: auto;
    }

    .glightbox-container .gdesc-inner {
        padding: 0 7rem !important;
    }
}

.gslide-content-frame {
    position: relative;
}

.gslide-image img {
    max-height: 86vh !important;
    max-width: 100%;
    height: auto;
}

.glightbox-container .gprev,
.glightbox-container .gclose,
.glightbox-container .gnext {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.glightbox-container .gnext {
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    position: fixed;
    padding: 0 !important;
    top: 50%;
    right: 6rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: unset !important;
    height: unset !important;
    background-color: rgba(0, 0, 0, 0) !important;
    opacity: 1 !important;
    display: block;
}

.glightbox-container .gprev {
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    position: fixed;
    padding: 0 !important;
    top: 50%;
    left: 6rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: unset !important;
    height: unset !important;
    background-color: rgba(0, 0, 0, 0) !important;
    opacity: 1 !important;
    display: block;
}

.glightbox-container .gclose {
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    padding: 0 !important;
    transition: 0.2s ease;
    opacity: 1 !important;
    width: unset !important;
    height: unset !important;
    top: 6rem !important;
    left: 6rem !important;
    right: unset !important;
    position: fixed;
    display: block;
    background-color: rgba(0, 0, 0, 0) !important;
}

.glightbox-container .gbtn p {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    opacity: 1;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.glightbox-container .gbtn span {
    vertical-align: middle;
    display: inline-block;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    font-size: 2.1rem;
}

.glightbox-container .gbtn:hover span {
    color: #fdc60c;
}

.glightbox-container .gbtn span:after {
    position: absolute;
    content: '';
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gslide-description {
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    width: 100% !important;
    height: 100%;
    max-width: 9999999px !important;
    bottom: 0 !important;
    background: rgba(3, 3, 3, 0.85) !important;
    -ms-flex-line-pack: center;
    align-content: center;
    opacity: 0;

    z-index: 1;
    padding: 0 !important;
    pointer-events: none;

    -webkit-transition: 0.4s ease !important;
    -o-transition: 0.4s ease !important;
    transition: 0.4s ease !important;
}

.gslide.show-desc .gslide-description {
    opacity: 1;
    pointer-events: all;
}

.gslide-media {
    position: relative;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.glightbox-closing .gclose,
.glightbox-closing .gnext,
.glightbox-closing .gprev,
.glightbox-container .gnext.disabled,
.glightbox-container .gprev.disabled {
    opacity: 0 !important;
}

.glightbox-container .info-button {
    position: absolute;
    top: 4rem;
    cursor: pointer;
    z-index: 11;
    left: 5rem;
}

.glightbox-container .info-button p {
    margin: 0;
    margin-left: 1.6rem;
    vertical-align: middle;
    display: inline-block;
    line-height: 1em;
}

.glightbox-container .info-button .icon-button {
    vertical-align: middle;
    display: inline-block;
}