                    <!-- SECTION ( ABOUT ) -->
                    <div class="section" style="padding-bottom:26rem" id="about">


                        <!-- CONTAINER -->
                        <div class="container">

                            <p class="tag m-b-3 scroll-animation">My Vision</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Customer-focused,<br>quality-driven Web & Native
                                Apps</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>
                            <p class="scroll-animation">
                                You deserve <span class="color-white">transparency, reliability, and outstanding
                                    care.</span> </p>
                            <br />
                            <p class="scroll-animation"> I take the time to deeply
                                understand your<span class="color-white"> business goals</span> so that I can <span
                                    class="color-white">deliver work that aligns with your values.</span></p>
                            <br />
                            <p class="scroll-animation">
                                To me, this is a co-creation partnership and I'm not satisfied until you are.
                            </p>



                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( ABOUT ) -->
