                    <!-- SECTION ( INTRODUCTION ) -->
                    <div class="section height-100 y-center" style="padding-bottom:2rem" id="intro">


                        <!-- CONTAINER -->
                        <div class="container">

                            <p class="tag m-b-4">HELLO WORLD!</p>
                            <h2 class="m-b-5 m-l-3">I'm a Creative App Developer, Musician & Technology Innovator
                            </h2>
                            <div class="seperator-line"></div>

                            <!-- ABOUT ICONS -->
                            <div class="about-icons m-t-6 scroll-animation">
                                <a href="https://apps.orqon.com" target="_blank" class="icon-link"
                                    onclick="posthog.capture('click_apps_icon', { destination: 'github' })">
                                    <span class="ti-mobile"></span>
                                    <span class="icon-label">Apps</span>
                                </a>
                                <a href="https://on.soundcloud.com/5kSpHYZx3pQG8ytpMm" target="_blank" class="icon-link"
                                    onclick="posthog.capture('click_music_icon', { destination: 'soundcloud' })">
                                    <span class="ti-music"></span>
                                    <span class="icon-label">Music</span>
                                </a>
                                <a href="https://orqon.gumroad.com/" target="_blank" class="icon-link"
                                    onclick="posthog.capture('click_products_icon', { destination: 'gumroad' })">
                                    <span class="ti-shopping-cart"></span>
                                    <span class="icon-label">Products</span>
                                </a>
                                <a href="https://medium.com/@orkunalabaz" target="_blank" class="icon-link"
                                    onclick="posthog.capture('click_articles_icon', { destination: 'medium' })">
                                    <span class="ti-pencil-alt"></span>
                                    <span class="icon-label">Articles</span>
                                </a>


                            </div>
                            <!-- /ABOUT ICONS -->

                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( INTRODUCTION ) -->
