        <!-- LEFT CONTENT -->
        <div class="left-content noselect">


            <!-- INNER CONTENT -->
            <div class="inner-content">


                <!-- NAME -->
                <div class="name">
                    <p class="small color-white">Mehmet Orkun Alabaz</p>
                    <div class="seperator-line"></div>
                </div>
                <!-- /NAME -->

                <div class="picture-box">
                    <div class="picture"></div>
                </div>
                <div class="frame-1 frame"></div>
                <div class="frame-2 frame"></div>
                <div class="frame-3 frame"></div>


            </div>
            <!-- /INNER CONTENT -->


        </div>
        <!-- /LEFT CONTENT -->
