    <!-- MENU -->
    <div class="m-menu">


        <!-- MENU INNER -->
        <div class="m-menu-inner noselect">


            <!-- MENU ITEMS -->
            <div class="head m-b-2">
                <p class="small">Menu</p>
            </div>
            <ul class="main-items">


                <li><a class="scroll-to" href="#intro"><span class="ti-location-pin"></span>
                        <p class="small">Home</p>
                    </a></li>
                <li><a class="scroll-to" href="#about"><span class="ti-user"></span>
                        <p class="small">About</p>
                    </a></li>
                <li><a class="scroll-to" href="#resume"><span class="ti-align-left"></span>
                        <p class="small">Resume</p>
                    </a></li>
                <li><a class="scroll-to" href="#portfolio"><span class="ti-view-grid"></span>
                        <p class="small">Portfolio</p>
                    </a></li>
                <li><a class="scroll-to" href="#contact"><span class="ti-comments"></span>
                        <p class="small">Contact</p>
                    </a></li>


            </ul>
            <!-- /MENU ITEMS -->


            <!-- SOCIAL ITEMS -->
            <div class="head m-b-2 m-t-7">
                <p class="small">Social</p>
            </div>
            <ul class="social-items">
                <li class="item"><a href="https://soundcloud.com/oalabaz" aria-label="SoundCloud Profile"><span
                            class="ti-soundcloud"></span></a></li>
                <li class="item"><a href="https://medium.com/@orkunalabaz" aria-label="Medium Profile"><svg
                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path
                                d="M13.54 12a6.8 6.8 0 01-6.77 6.82A6.8 6.8 0 010 12a6.8 6.8 0 016.77-6.82A6.8 6.8 0 0113.54 12zM20.96 12c0 3.54-1.51 6.42-3.38 6.42-1.87 0-3.39-2.88-3.39-6.42s1.52-6.42 3.39-6.42 3.38 2.88 3.38 6.42M24 12c0 3.17-.53 5.75-1.19 5.75-.66 0-1.19-2.58-1.19-5.75s.53-5.75 1.19-5.75C23.47 6.25 24 8.83 24 12z" />
                        </svg></a></li>
                <li class="item"><a href="https://github.com/oalabaz" aria-label="GitHub Profile"><span
                            class="ti-github"></span></a></li>
                <li class="item"><a href="https://x.com/oalabaz" aria-label="Twitter/X Profile"><span
                            class="ti-twitter"></span></a></li>
            </ul>
            <!-- /SOCIAL ITEMS -->



        </div>

    </div>

    </div>
    <!-- /MENU -->
