                        <!-- SECTION ( PORTFOLIO ) -->
                        <div class="section" style="padding-bottom:20rem" id="portfolio">


                            <!-- CONTAINER -->
                            <div class="container">


                                <p class="tag m-b-3 scroll-animation">PORTFOLIO</p>
                                <h3 class="m-b-4 m-l-1 scroll-animation">Selected Projects</h3>
                                <div class="seperator-line m-b-4 scroll-animation"></div>


                                <!-- WORK GRID -->
                                <div class="work-grid">




                                    <!-- ITEM -->
                                    <a href="https://cafechain-xiljh34.gamma.site/" target="_blank"
                                        class="item noselect   scroll-animation">


                                        <div class="icon-button"><span class="ti-arrow-right"></span></div>

                                        <div class="info">
                                            <p class="color-white">CafeChain</p>
                                           
                                        </div>
                                        <div class="cover"
                                            style="background-image: url(assets/images/work/preview/1.jpg);"></div>

                                        <!-- INFO BOX -->
                                        <div class="info-box info-box-2">

                                            <h3 class="m-b-3">Intergalactic</h3>
                                           
                                            <p>...</p>

                                        </div>
                                        <!-- /INFO BOX -->


                                    </a>
                                    <!-- /ITEM -->

                                    <!-- ITEM -->
                                    <a href="#" target="_blank" class="item noselect m-t-6 scroll-animation">


                                        <div class="icon-button"><span class="ti-arrow-right"></span></div>

                                        <div class="info">
                                            <p class="color-white">Soul Contract</p>
                                            
                                        </div>
                                        <div class="cover">
                                            <video class="lazy-video" muted loop playsinline preload="none" disablePictureInPicture data-src="assets/videos/3.mp4" poster="assets/images/work/preview/2.jpg">
                                            </video>
                                        </div>

                                        <!-- INFO BOX -->
                                        <div class="info-box info-box-2">

                                            <h3 class="m-b-3">Soul Contract</h3>
                                           
                                            <p>...</p>

                                        </div>
                                        <!-- /INFO BOX -->


                                    </a>
                                    <!-- /ITEM -->

                                    <!-- ITEM -->
                                    <a href="https://theumamidust.com/" target="_blank" class="item noselect m-t-6 scroll-animation">


                                        <div class="icon-button"><span class="ti-arrow-right"></span></div>

                                        <div class="info">
                                            <p class="color-white"></p>
                                           
                                        </div>
                                        <div class="cover">
                                            <video class="lazy-video" muted loop playsinline preload="none" disablePictureInPicture data-src="assets/videos/2.mp4" poster="assets/images/work/preview/2.jpg">
                                            </video>
                                        </div>

                                        <!-- INFO BOX -->
                                        <div class="info-box info-box-4">

                                            <h3 class="m-b-3"></h3>
                                            
                                            <p>...</p>

                                        </div>
                                        <!-- /INFO BOX -->


                                    </a>
                                    <!-- /ITEM -->

                                    <!-- ITEM -->
                                    <a href="https://soundcloud.com/oalabaz/abundance-v4-0" target="_blank" class="item noselect m-t-6 scroll-animation">


                                        <div class="icon-button"><span class="ti-arrow-right"></span></div>

                                        <div class="info">
                                            <p class="color-white">Abundance v4.0</p>
                                         
                                        </div>
                                        <div class="cover">
                                            <video class="lazy-video" muted loop playsinline preload="none" disablePictureInPicture data-src="assets/videos/4.mp4" poster="assets/images/work/preview/4.jpg">
                                            </video>
                                        </div>

                                        <!-- INFO BOX -->
                                        <div class="info-box info-box-5">

                                            <h3 class="m-b-3">Abundance v4.0</h3>
                                           
                                            <p>...</p>

                                        </div>
                                        <!-- /INFO BOX -->


                                    </a>
                                    <!-- /ITEM -->

                                    <!-- ITEM -->
                                    <a href="https://www.pedallo.com/" target="_blank" class="item noselect m-t-6 scroll-animation">


                                        <div class="icon-button"><span class="ti-arrow-right"></span></div>

                                        <div class="info">
                                           
                                          
                                        </div>
                                        <div class="cover">
                                            <video class="lazy-video" muted loop playsinline preload="none" disablePictureInPicture data-src="assets/videos/5.mp4" poster="assets/images/work/preview/5.jpg">
                                            </video>
                                        </div>

                                        <!-- INFO BOX -->
                                        <div class="info-box info-box-6">

                                           
                                          
                                            <p>...</p>

                                        </div>
                                        <!-- /INFO BOX -->


                                    </a>
                                    <!-- /ITEM -->


                                </div>
                                <!-- /WORK GRID -->


                            </div>
                            <!-- /CONTAINER -->


                        </div>
                        <!-- /SECTION ( PORTFOLIO ) -->
