                        <!-- SECTION ( SKILLS ) -->
                        <div class="section" style="padding-bottom:20rem">


                            <!-- CONTAINER -->
                            <div class="container">


                                <p class="tag m-b-3 scroll-animation">SKILLS</p>
                                <h3 class="m-b-4 m-l-1 scroll-animation">Skills I have collected<br> over 20+ years.
                                </h3>
                                <div class="seperator-line m-b-4 scroll-animation"></div>


                                <!-- SKILL BAR -->
                                <div class="skill-bar scroll-animation">


                                    <div class="head noselect">
                                        <h5>HTML/CSS</h5>
                                    </div>

                                    <!-- BAR -->
                                    <div class="bar m-b-2">
                                        <div class="fill" style="width: 100%;"></div>
                                        <div class="number-tag noselect" style="left: 100%;">
                                            <p class="small">Expert</p>
                                        </div>
                                    </div>
                                    <!-- /BAR -->


                                </div>
                                <!-- /SKILL BAR -->


                                <!-- SKILL BAR -->
                                <div class="skill-bar m-b-2 scroll-animation">


                                    <div class="head noselect">
                                        <h5>Javascript</h5>
                                    </div>

                                    <!-- BAR -->
                                    <div class="bar">

                                        <div class="fill" style="width: 100%;"></div>
                                        <div class="number-tag noselect" style="left: 100%;">
                                            <p class="small">Expert</p>
                                        </div>

                                    </div>
                                    <!-- /BAR -->


                                </div>
                                <!-- /SKILL BAR -->

                                <!-- SKILL BAR -->
                                <div class="skill-bar m-b-2 scroll-animation">


                                    <div class="head noselect">
                                        <h5>React/React Native</h5>
                                    </div>

                                    <!-- BAR -->
                                    <div class="bar">

                                        <div class="fill" style="width: 100%;"></div>
                                        <div class="number-tag noselect" style="left: 100%;">
                                            <p class="small">Expert</p>
                                        </div>

                                    </div>
                                    <!-- /BAR -->


                                </div>
                                <!-- /SKILL BAR -->

                                <!-- SKILL BAR -->
                                <div class="skill-bar m-b-2 scroll-animation">


                                    <div class="head noselect">
                                        <h5>Node/Express</h5>
                                    </div>

                                    <!-- BAR -->
                                    <div class="bar">

                                        <div class="fill" style="width: 100%;"></div>
                                        <div class="number-tag noselect" style="left: 100%;">
                                            <p class="small">Expert</p>
                                        </div>

                                    </div>
                                    <!-- /BAR -->


                                </div>
                                <!-- /SKILL BAR -->

                            </div>
                            <!-- /CONTAINER -->


                        </div>
                        <!-- /SECTION ( SKILLS ) -->
