                        <!-- SECTION ( TESTIMONIALS ) -->
                        <div class="section" style="padding-bottom:20rem">


                            <!-- CONTAINER -->
                            <div class="container">


                                <p class="tag m-b-3 scroll-animation">TESTIMONIALS</p>
                                <h3 class="m-b-4 m-l-1 scroll-animation">What my friends<br> are saying about me?
                                </h3>
                                <div class="seperator-line m-b-6 scroll-animation"></div>


                                <!-- TESTIMONIAL CAROUSEL -->
                                <div class="testimonial-carousel scroll-animation">


                                    <!-- ITEM -->
                                    <div class="item">


                                        <p class="quote">"Orqon is one of the most creative people on the planet.
                                            Develops wonders - million dollar systems. Goes the extra mile in
                                            development & delivers a product with all the necessary bells &
                                            whistles."
                                        </p>
                                        <p class="name m-t-3 color-white">Emre Ekmekci</p>
                                        <p class="role">Founder Groupon Inc. Turkey Region</p>



                                    </div>
                                    <!-- /ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">

                                        <p class="quote">"Orqon is an out of the box holistic thinker, with a great
                                            sense of Design & Technology. Just rub the famous Alabaz lamp, & make
                                            your
                                            wish... It might as well come true!"</p>
                                        <p class="name m-t-3 color-white">Aydin Arpa</p>
                                        <p class="role">MagicLeap Inc.</p>

                                    </div>
                                    <!-- /ITEM -->




                                </div>
                                <!-- /TESTIMONIAL CAROUSEL -->


                            </div>
                            <!-- /CONTAINER -->


                        </div>
                        <!-- /SECTION ( TESTIMONIALS ) -->
